name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - postgres: 17
            mysql: 8
          - postgres: 13
            mariadb: 11.4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - uses: ankane/setup-postgres@v1
        with:
          postgres-version: ${{ matrix.postgres }}
          database: groupdatesql_test

      - if: ${{ matrix.mysql }}
        uses: ankane/setup-mysql@v1
        with:
          mysql-version: ${{ matrix.mysql }}
          database: groupdatesql_test

      - if: ${{ matrix.mariadb }}
        uses: ankane/setup-mariadb@v1
        with:
          mariadb-version: ${{ matrix.mariadb }}
          database: groupdatesql_test

      - run: mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql
      - run: bundle exec rake test
